<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">ShoeMart</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link <%= currentPage === 'home' ? 'active' : '' %>" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPage === 'shop' ? 'active' : '' %>" href="/shop">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPage === 'about' ? 'active' : '' %>" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPage === 'contact' ? 'active' : '' %>" href="/contact">Contact</a>
                </li>
            </ul>
            
            <!-- Search Form -->
            <form class="d-flex" id="searchForm">
                <input class="form-control me-2" type="search" id="searchQuery" placeholder="Search products..." aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

